@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
:root {
    --first-color: #11102d;
    --second-color: #f5a623;
    --white-color: #ededed;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: "Quicksand", sans-serif;
    position: relative;
    transition: 0.5s;
}


/*  To be used to increse the padding of body when toggling sidebar*/

.expander {
    padding: 1rem 0 0 12rem;
    transition: 0.5s;
}

.l-navbar {
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--first-color);
    width: 120px;
    height: 100vh;
    z-index: 100;
    padding: 1.25rem 0.5rem 2rem;
    transition: 0.5s;
    display: flex;
    align-items: center;
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
}


/* Logo+Text CSS */

.nav-logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 0.5rem;
    overflow: hidden;
}

.logo-icon {
    margin-right: 1.5rem;
    font-size: 1.5rem;
    color: white;
}

.logo-text {
    color: white;
    font-weight: 700;
}


/* Toggle Button */

.nav-toggle {
    position: absolute;
    top: 2.9rem;
    right: -0.9rem;
    width: 36px;
    height: 36px;
    background-color: red;
    border-radius: 50%;
    color: var(--first-color);
    cursor: pointer;
    transform: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: white;
    margin-bottom: 1rem;
    transition: 0.3s;
    overflow: hidden;
    transition: 0.5s;
}

.nav-link:hover {
    margin-left: -1rem;
    background-color: #f52323b7;
    color: white;
    transition: 0.5s;
}

.link-text {
    margin-left: 0.9rem;
    font-weight: 300;
}

.active {
    background-color: var(--second-color);
}

.rotate {
    transform: rotate(180deg);
    transition: 0.5s;
}

.show {
    width: 170px;
}

.icon {
    font-size: 1.5rem;
}